body{
    max-width: 1240px;
    background-color:bisque;
    margin: auto;
}

.hero-container{
    display: flex;
    gap: 40px;
    padding: 20px;
    text-align: center;
    background-color: lightgreen;
    align-items: center;
    border-radius: 25px;
}
.hero-container button{
    background-color: rgb(235, 230, 223);
    padding: 5px 10px;
    font-size: 1em;
    border-radius: 15px;

}
.hero-container img{
    width:100%;
    height: 400px;
    border-radius: 25px;
}

